<?xml version="1.0" encoding="utf-8"?>
<TTSYukkuriConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <UILocale>EN</UILocale>
  <FFXIVLocale>EN</FFXIVLocale>
  <LastUpdateDateTime>H4RvoYouMj0UXJOlRmmzak5TIWMejfuLChQxZkL3rIMi+1cdiKzsZxi0ZPWnJTzT</LastUpdateDateTime>
  <TTS>Yukkuri</TTS>
  <WaveCacheClearEnable>false</WaveCacheClearEnable>
  <WaveVolume>100</WaveVolume>
  <Player>WASAPI</Player>
  <MainDeviceID>{0.0.0.00000000}.{a60e952b-3b89-4ee4-be1b-cbcbd76b9668}</MainDeviceID>
  <EnabledSubDevice>false</EnabledSubDevice>
  <SubDeviceID>{0.0.0.00000000}.{a60e952b-3b89-4ee4-be1b-cbcbd76b9668}</SubDeviceID>
  <BoyomiServer>127.0.0.1</BoyomiServer>
  <BoyomiPort>50001</BoyomiPort>
  <YukkuriSettings>
    <BaseVoice>F1E</BaseVoice>
    <Speed>100</Speed>
    <Volume>100</Volume>
    <Pitch>100</Pitch>
    <Accent>100</Accent>
    <LMD>100</LMD>
    <FSC>100</FSC>
    <UseIME>false</UseIME>
    <UseKanji2Koe>true</UseKanji2Koe>
  </YukkuriSettings>
  <HOYASettings>
    <Speaker>Hikari</Speaker>
    <Emotion>Default</Emotion>
    <EmotionLevel>Default</EmotionLevel>
    <Volume>100</Volume>
    <Speed>100</Speed>
    <Pitch>100</Pitch>
  </HOYASettings>
  <OpenJTalkSettings>
    <Voice>mei_normal.htsvoice</Voice>
    <Gain>1</Gain>
    <Volume>3</Volume>
    <AllPass>0.53</AllPass>
    <PostFilter>0.3</PostFilter>
    <Rate>1.4</Rate>
    <HalfTone>1</HalfTone>
    <UnVoice>0</UnVoice>
    <Accent>0.7</Accent>
    <Weight>0.1</Weight>
  </OpenJTalkSettings>
  <SasaraSettings>
    <AvalableCasts />
    <Gain>2.1</Gain>
    <Components />
    <Onryo>50</Onryo>
    <Hayasa>50</Hayasa>
    <Takasa>50</Takasa>
    <Seishitsu>50</Seishitsu>
    <Yokuyo>50</Yokuyo>
  </SasaraSettings>
  <VoiceroidSettings>
    <SelectedVoiceroidId>YukariEx</SelectedVoiceroidId>
    <Voiceroids>
      <VoiceroidProcess>
        <Id>YukariEx</Id>
        <Name>結月ゆかり</Name>
      </VoiceroidProcess>
      <VoiceroidProcess>
        <Id>MakiEx</Id>
        <Name>弦巻マキ</Name>
      </VoiceroidProcess>
      <VoiceroidProcess>
        <Id>ZunkoEx</Id>
        <Name>東北ずん子</Name>
      </VoiceroidProcess>
      <VoiceroidProcess>
        <Id>KiritanEx</Id>
        <Name>東北きりたん</Name>
      </VoiceroidProcess>
      <VoiceroidProcess>
        <Id>Akane</Id>
        <Name>琴葉茜</Name>
      </VoiceroidProcess>
      <VoiceroidProcess>
        <Id>Aoi</Id>
        <Name>琴葉葵</Name>
      </VoiceroidProcess>
      <VoiceroidProcess>
        <Id>AiEx</Id>
        <Name>月読アイ</Name>
      </VoiceroidProcess>
      <VoiceroidProcess>
        <Id>ShoutaEx</Id>
        <Name>月読ショウタ</Name>
      </VoiceroidProcess>
      <VoiceroidProcess>
        <Id>SeikaEx</Id>
        <Name>京町セイカ</Name>
      </VoiceroidProcess>
      <VoiceroidProcess>
        <Id>KouEx</Id>
        <Name>水奈瀬コウ</Name>
      </VoiceroidProcess>
      <VoiceroidProcess>
        <Id>UnaTalkEx</Id>
        <Name>音街ウナ</Name>
      </VoiceroidProcess>
      <VoiceroidProcess>
        <Id>Voiceroid2</Id>
        <Name>VOICEROID2</Name>
      </VoiceroidProcess>
    </Voiceroids>
    <ExitVoiceroidWhenExit>true</ExitVoiceroidWhenExit>
    <DirectSpeak>true</DirectSpeak>
  </VoiceroidSettings>
  <SAPI5Settings>
    <Rate>0</Rate>
    <Volume>100</Volume>
    <Pitch>Default</Pitch>
  </SAPI5Settings>
  <StatusAlertSettings>
    <EnabledHPAlert>false</EnabledHPAlert>
    <HPThreshold>0</HPThreshold>
    <HPTextToSpeack>&lt;pcname&gt;,HP&lt;hpp&gt;%.</HPTextToSpeack>
    <EnabledMPAlert>false</EnabledMPAlert>
    <MPThreshold>0</MPThreshold>
    <MPTextToSpeack>&lt;pcname&gt;,MP&lt;mpp&gt;%.</MPTextToSpeack>
    <EnabledTPAlert>false</EnabledTPAlert>
    <TPThreshold>0</TPThreshold>
    <TPTextToSpeack>&lt;pcname&gt;,TP&lt;tpp&gt;%.</TPTextToSpeack>
    <AlertTargetsHP>
      <AlertTarget Category="Me" Enabled="false" />
      <AlertTarget Category="Paladin" Enabled="false" />
      <AlertTarget Category="Warrior" Enabled="false" />
      <AlertTarget Category="DarkKnight" Enabled="false" />
      <AlertTarget Category="WhiteMage" Enabled="false" />
      <AlertTarget Category="Scholar" Enabled="false" />
      <AlertTarget Category="Astrologian" Enabled="false" />
      <AlertTarget Category="Monk" Enabled="false" />
      <AlertTarget Category="Dragoon" Enabled="false" />
      <AlertTarget Category="Ninja" Enabled="false" />
      <AlertTarget Category="Samurai" Enabled="false" />
      <AlertTarget Category="Bard" Enabled="false" />
      <AlertTarget Category="Machinist" Enabled="false" />
      <AlertTarget Category="BlackMage" Enabled="false" />
      <AlertTarget Category="Summoner" Enabled="false" />
      <AlertTarget Category="RedMage" Enabled="false" />
      <AlertTarget Category="CrafterAndGatherer" Enabled="false" />
    </AlertTargetsHP>
    <AlertTargetsMP>
      <AlertTarget Category="Me" Enabled="false" />
      <AlertTarget Category="Paladin" Enabled="false" />
      <AlertTarget Category="Warrior" Enabled="false" />
      <AlertTarget Category="DarkKnight" Enabled="false" />
      <AlertTarget Category="WhiteMage" Enabled="false" />
      <AlertTarget Category="Scholar" Enabled="false" />
      <AlertTarget Category="Astrologian" Enabled="false" />
      <AlertTarget Category="Monk" Enabled="false" />
      <AlertTarget Category="Dragoon" Enabled="false" />
      <AlertTarget Category="Ninja" Enabled="false" />
      <AlertTarget Category="Samurai" Enabled="false" />
      <AlertTarget Category="Bard" Enabled="false" />
      <AlertTarget Category="Machinist" Enabled="false" />
      <AlertTarget Category="BlackMage" Enabled="false" />
      <AlertTarget Category="Summoner" Enabled="false" />
      <AlertTarget Category="RedMage" Enabled="false" />
      <AlertTarget Category="CrafterAndGatherer" Enabled="false" />
    </AlertTargetsMP>
    <AlertTargetsTP>
      <AlertTarget Category="Me" Enabled="false" />
      <AlertTarget Category="Paladin" Enabled="false" />
      <AlertTarget Category="Warrior" Enabled="false" />
      <AlertTarget Category="DarkKnight" Enabled="false" />
      <AlertTarget Category="WhiteMage" Enabled="false" />
      <AlertTarget Category="Scholar" Enabled="false" />
      <AlertTarget Category="Astrologian" Enabled="false" />
      <AlertTarget Category="Monk" Enabled="false" />
      <AlertTarget Category="Dragoon" Enabled="false" />
      <AlertTarget Category="Ninja" Enabled="false" />
      <AlertTarget Category="Samurai" Enabled="false" />
      <AlertTarget Category="Bard" Enabled="false" />
      <AlertTarget Category="Machinist" Enabled="false" />
      <AlertTarget Category="BlackMage" Enabled="false" />
      <AlertTarget Category="Summoner" Enabled="false" />
      <AlertTarget Category="RedMage" Enabled="false" />
      <AlertTarget Category="CrafterAndGatherer" Enabled="false" />
    </AlertTargetsTP>
  </StatusAlertSettings>
  <DiscordSettings>
    <Token />
    <DefaultServer />
    <DefaultTextChannelID>0</DefaultTextChannelID>
    <DefaultVoiceChannelID>0</DefaultVoiceChannelID>
    <AutoJoin>false</AutoJoin>
    <SpeakInterval>0.6</SpeakInterval>
  </DiscordSettings>
  <GlobalSoundInterval>0.4</GlobalSoundInterval>
</TTSYukkuriConfig>