<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <BackgroundColor>Transparent</BackgroundColor>
  <FontColor>AliceBlue</FontColor>
  <FontOutlineColor>#16789D</FontOutlineColor>
  <ProgressBarColor>White</ProgressBarColor>
  <ProgressBarOutlineColor>#16789D</ProgressBarOutlineColor>
  <WarningFontColor>OrangeRed</WarningFontColor>
  <WarningFontOutlineColor>DarkRed</WarningFontOutlineColor>
  <BarBackgroundFixed>false</BarBackgroundFixed>
  <BarBackgroundBrightness>0.3</BarBackgroundBrightness>
  <BarDefaultBackgroundColor>#F0000000</BarDefaultBackgroundColor>
  <ProgressBarSize Height="8" Width="190" />
  <Font>Arial:11:Regular:Point:1:False</Font>
  <AutoSortEnabled>true</AutoSortEnabled>
  <AutoSortReverse>false</AutoSortReverse>
  <ClickThroughEnabled>false</ClickThroughEnabled>
  <CombatLogBufferSize>30000</CombatLogBufferSize>
  <CombatLogEnabled>false</CombatLogEnabled>
  <DetectPacketDump>false</DetectPacketDump>
  <DQXPlayerName>トンヌラ</DQXPlayerName>
  <DQXUtilityEnabled>false</DQXUtilityEnabled>
  <EnabledNotifyNormalSpellTimer>false</EnabledNotifyNormalSpellTimer>
  <EnabledPartyMemberPlaceholder>true</EnabledPartyMemberPlaceholder>
  <EnabledSpellTimerNoDecimal>true</EnabledSpellTimerNoDecimal>
  <HideWhenNotActive>false</HideWhenNotActive>
  <Language>EN</Language>
  <LogPollSleepInterval>10</LogPollSleepInterval>
  <NotifyNormalSpellTimerPrefix>spespe_</NotifyNormalSpellTimerPrefix>
  <Opacity>10</Opacity>
  <OverlayForceVisible>false</OverlayForceVisible>
  <OverlayVisible>false</OverlayVisible>
  <OverText>Over</OverText>
  <PCNameInitialOnDisplayStyle>FullName</PCNameInitialOnDisplayStyle>
  <PCNameInitialOnLogStyle>FullName</PCNameInitialOnLogStyle>
  <PlayerInfoRefreshInterval>3</PlayerInfoRefreshInterval>
  <ReadyText>Ready</ReadyText>
  <ReduceIconBrightness>55</ReduceIconBrightness>
  <RefreshInterval>60</RefreshInterval>
  <RemoveTooltipSymbols>true</RemoveTooltipSymbols>
  <RenderCPUOnly>true</RenderCPUOnly>
  <ResetOnWipeOut>true</ResetOnWipeOut>
  <SaveLogDirectory />
  <SaveLogEnabled>false</SaveLogEnabled>
  <SaveLogFile />
  <SimpleRegex>true</SimpleRegex>
  <TelopAlwaysVisible>false</TelopAlwaysVisible>
  <TextBlurRate>1.2</TextBlurRate>
  <TextOutlineThicknessRate>1</TextOutlineThicknessRate>
  <TimeOfHideSpell>1</TimeOfHideSpell>
  <ToComplementUnknownSkill>true</ToComplementUnknownSkill>
  <UseOtherThanFFXIV>false</UseOtherThanFFXIV>
  <WipeoutNotifyToACT>true</WipeoutNotifyToACT>
  <SingleTaskLogMatching>false</SingleTaskLogMatching>
  <DisableStartCondition>false</DisableStartCondition>
  <EnableMultiLineMaching>false</EnableMultiLineMaching>
  <UIAutoScaleMode>Inherit</UIAutoScaleMode>
  <LPSViewVisible>false</LPSViewVisible>
  <LPSViewX>0</LPSViewX>
  <LPSViewY>0</LPSViewY>
  <LPSViewScale>1</LPSViewScale>
  <LastUpdateDateTime>WLQcN3yuSn1xQdzzybpf5J8olwWy4DNQXjL2CdUZEilhEScHEJLXVjQEIedyTCoM</LastUpdateDateTime>
  <MaxFPS>30</MaxFPS>
  <BlinkBrightnessDark>0.3</BlinkBrightnessDark>
  <BlinkBrightnessLight>2.5</BlinkBrightnessLight>
  <BlinkPitch>0.5</BlinkPitch>
  <BlinkPeekHold>0.08</BlinkPeekHold>
</Settings>