<?xml version="1.0" encoding="utf-8"?>
<ACT.UltraScouter.Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <LastUpdateDateTime>OdLpSmbMGnjVOIYT2LNRRtDQH0njpiOwiWhoFglZKRr1EpPXz69Je5xkHeQjAJ4J</LastUpdateDateTime>
  <UILocale>EN</UILocale>
  <FFXIVLocale>EN</FFXIVLocale>
  <IdleInterval>1</IdleInterval>
  <Opacity>1</Opacity>
  <ClickThrough>false</ClickThrough>
  <TextOutlineThicknessGain>1</TextOutlineThicknessGain>
  <TextBlurGain>2</TextBlurGain>
  <AnimationMaxFPS>30</AnimationMaxFPS>
  <PollingRate>50</PollingRate>
  <OverlayRefreshRate>100</OverlayRefreshRate>
  <HPBarAnimationInterval>100</HPBarAnimationInterval>
  <ActionCounterFontSizeRatio>0.7</ActionCounterFontSizeRatio>
  <ActionCounterSingleFontSizeRatio>0.85</ActionCounterSingleFontSizeRatio>
  <ProgressBarDarkRatio>0.35</ProgressBarDarkRatio>
  <ProgressBarEffectRatio>1.2</ProgressBarEffectRatio>
  <HPVisible>true</HPVisible>
  <HPRateVisible>true</HPRateVisible>
  <UseNAudio>true</UseNAudio>
  <WaveVolume>100</WaveVolume>
  <CircleBackOpacity>0.8</CircleBackOpacity>
  <CircleBlurRadius>14</CircleBlurRadius>
  <CircleBackBrightnessRate>0.3</CircleBackBrightnessRate>
  <TargetName>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <Visible>true</Visible>
  </TargetName>
  <TargetHP>
    <TextLocation X="0" Y="0" />
    <BarLocation X="0" Y="20" />
    <DisplayText>
      <Color>#FF1E90FF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFFFFF</OutlineColor>
    </DisplayText>
    <HPBarVisible>true</HPBarVisible>
    <LinkFontColorToBarColor>true</LinkFontColorToBarColor>
    <LinkFontOutlineColorToBarColor>false</LinkFontOutlineColorToBarColor>
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF0000</Color>
          <Max>10</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>20</Max>
          <Min>10</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF8C00</Color>
          <Max>50</Max>
          <Min>20</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF20B2AA</Color>
          <Max>75</Max>
          <Min>50</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF4169E1</Color>
          <Max>100</Max>
          <Min>75</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>10</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>500</Width>
    </ProgressBar>
    <Visible>true</Visible>
  </TargetHP>
  <TargetAction>
    <DisplayText>
      <Color>#FFFFD700</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFFACD</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFFD700</Color>
          <Max>68</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>100</Max>
          <Min>68</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>10</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>300</Width>
    </ProgressBar>
    <Visible>true</Visible>
    <CastingActionNameVisible>true</CastingActionNameVisible>
    <CastingRemainVisible>false</CastingRemainVisible>
    <CastingRemainInInteger>true</CastingRemainInInteger>
    <CastingRateVisible>true</CastingRateVisible>
    <WaveSoundEnabled>false</WaveSoundEnabled>
    <WaveFile />
    <TTSEnabled>false</TTSEnabled>
    <UseCircle>false</UseCircle>
    <IsCircleReverse>false</IsCircleReverse>
  </TargetAction>
  <TargetDistance>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <Visible>true</Visible>
  </TargetDistance>
  <UseHoverTarget>false</UseHoverTarget>
  <HoverLifeLimit>3</HoverLifeLimit>
  <FTName>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <Visible>false</Visible>
  </FTName>
  <FTHP>
    <TextLocation X="0" Y="0" />
    <BarLocation X="0" Y="20" />
    <DisplayText>
      <Color>#FF1E90FF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFFFFF</OutlineColor>
    </DisplayText>
    <HPBarVisible>true</HPBarVisible>
    <LinkFontColorToBarColor>true</LinkFontColorToBarColor>
    <LinkFontOutlineColorToBarColor>false</LinkFontOutlineColorToBarColor>
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF0000</Color>
          <Max>10</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>20</Max>
          <Min>10</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF8C00</Color>
          <Max>50</Max>
          <Min>20</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF20B2AA</Color>
          <Max>75</Max>
          <Min>50</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF4169E1</Color>
          <Max>100</Max>
          <Min>75</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>10</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>500</Width>
    </ProgressBar>
    <Visible>false</Visible>
  </FTHP>
  <FTAction>
    <DisplayText>
      <Color>#FFFFD700</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFFACD</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFFD700</Color>
          <Max>68</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>100</Max>
          <Min>68</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>10</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>300</Width>
    </ProgressBar>
    <Visible>false</Visible>
    <CastingActionNameVisible>true</CastingActionNameVisible>
    <CastingRemainVisible>false</CastingRemainVisible>
    <CastingRemainInInteger>true</CastingRemainInInteger>
    <CastingRateVisible>true</CastingRateVisible>
    <WaveSoundEnabled>false</WaveSoundEnabled>
    <WaveFile />
    <TTSEnabled>false</TTSEnabled>
    <UseCircle>false</UseCircle>
    <IsCircleReverse>false</IsCircleReverse>
  </FTAction>
  <FTDistance>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <Visible>false</Visible>
  </FTDistance>
  <ToTName>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <Visible>false</Visible>
  </ToTName>
  <ToTHP>
    <TextLocation X="0" Y="0" />
    <BarLocation X="0" Y="20" />
    <DisplayText>
      <Color>#FF1E90FF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFFFFF</OutlineColor>
    </DisplayText>
    <HPBarVisible>true</HPBarVisible>
    <LinkFontColorToBarColor>true</LinkFontColorToBarColor>
    <LinkFontOutlineColorToBarColor>false</LinkFontOutlineColorToBarColor>
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF0000</Color>
          <Max>10</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>20</Max>
          <Min>10</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF8C00</Color>
          <Max>50</Max>
          <Min>20</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF20B2AA</Color>
          <Max>75</Max>
          <Min>50</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF4169E1</Color>
          <Max>100</Max>
          <Min>75</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>10</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>500</Width>
    </ProgressBar>
    <Visible>false</Visible>
  </ToTHP>
  <ToTAction>
    <DisplayText>
      <Color>#FFFFD700</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFFACD</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFFD700</Color>
          <Max>68</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>100</Max>
          <Min>68</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>10</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>300</Width>
    </ProgressBar>
    <Visible>false</Visible>
    <CastingActionNameVisible>true</CastingActionNameVisible>
    <CastingRemainVisible>false</CastingRemainVisible>
    <CastingRemainInInteger>true</CastingRemainInInteger>
    <CastingRateVisible>true</CastingRateVisible>
    <WaveSoundEnabled>false</WaveSoundEnabled>
    <WaveFile />
    <TTSEnabled>false</TTSEnabled>
    <UseCircle>false</UseCircle>
    <IsCircleReverse>false</IsCircleReverse>
  </ToTAction>
  <ToTDistance>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <Visible>false</Visible>
  </ToTDistance>
  <BossName>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <Visible>false</Visible>
  </BossName>
  <BossHP>
    <TextLocation X="0" Y="0" />
    <BarLocation X="0" Y="20" />
    <DisplayText>
      <Color>#FF1E90FF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFFFFF</OutlineColor>
    </DisplayText>
    <HPBarVisible>true</HPBarVisible>
    <LinkFontColorToBarColor>true</LinkFontColorToBarColor>
    <LinkFontOutlineColorToBarColor>false</LinkFontOutlineColorToBarColor>
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF0000</Color>
          <Max>10</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>20</Max>
          <Min>10</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF8C00</Color>
          <Max>50</Max>
          <Min>20</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF20B2AA</Color>
          <Max>75</Max>
          <Min>50</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF4169E1</Color>
          <Max>100</Max>
          <Min>75</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>10</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>500</Width>
    </ProgressBar>
    <Visible>false</Visible>
  </BossHP>
  <BossAction>
    <DisplayText>
      <Color>#FFFFD700</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFFACD</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFFD700</Color>
          <Max>68</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>100</Max>
          <Min>68</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>10</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>300</Width>
    </ProgressBar>
    <Visible>false</Visible>
    <CastingActionNameVisible>true</CastingActionNameVisible>
    <CastingRemainVisible>false</CastingRemainVisible>
    <CastingRemainInInteger>true</CastingRemainInInteger>
    <CastingRateVisible>true</CastingRateVisible>
    <WaveSoundEnabled>false</WaveSoundEnabled>
    <WaveFile />
    <TTSEnabled>false</TTSEnabled>
    <UseCircle>false</UseCircle>
    <IsCircleReverse>false</IsCircleReverse>
  </BossAction>
  <BossDistance>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <Visible>false</Visible>
  </BossDistance>
  <BossHPThreshold>140</BossHPThreshold>
  <BossVSTargetHideBoss>true</BossVSTargetHideBoss>
  <BossVSFTHideBoss>true</BossVSFTHideBoss>
  <BossVSToTHideBoss>true</BossVSToTHideBoss>
  <MeAction>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFD700</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF8C00</Color>
          <Max>74</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFFD700</Color>
          <Max>100</Max>
          <Min>74</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>8</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>250</Width>
    </ProgressBar>
    <Visible>false</Visible>
    <CastingActionNameVisible>true</CastingActionNameVisible>
    <CastingRemainVisible>false</CastingRemainVisible>
    <CastingRemainInInteger>true</CastingRemainInInteger>
    <CastingRateVisible>true</CastingRateVisible>
    <WaveSoundEnabled>false</WaveSoundEnabled>
    <WaveFile />
    <TTSEnabled>false</TTSEnabled>
    <UseCircle>false</UseCircle>
    <IsCircleReverse>false</IsCircleReverse>
  </MeAction>
  <MPTicker>
    <Visible>false</Visible>
    <CounterVisible>true</CounterVisible>
    <TargetJobs>
      <JobAvailablity Job="GLA" Avalable="false" />
      <JobAvailablity Job="MRD" Avalable="false" />
      <JobAvailablity Job="PLD" Avalable="false" />
      <JobAvailablity Job="WAR" Avalable="false" />
      <JobAvailablity Job="DRK" Avalable="false" />
      <JobAvailablity Job="PUG" Avalable="false" />
      <JobAvailablity Job="LNC" Avalable="false" />
      <JobAvailablity Job="MNK" Avalable="false" />
      <JobAvailablity Job="DRG" Avalable="false" />
      <JobAvailablity Job="ROG" Avalable="false" />
      <JobAvailablity Job="NIN" Avalable="false" />
      <JobAvailablity Job="SAM" Avalable="false" />
      <JobAvailablity Job="ARC" Avalable="false" />
      <JobAvailablity Job="BRD" Avalable="false" />
      <JobAvailablity Job="MCH" Avalable="false" />
      <JobAvailablity Job="THM" Avalable="true" />
      <JobAvailablity Job="BLM" Avalable="true" />
      <JobAvailablity Job="ACN" Avalable="false" />
      <JobAvailablity Job="SMN" Avalable="false" />
      <JobAvailablity Job="RDM" Avalable="false" />
      <JobAvailablity Job="CNJ" Avalable="false" />
      <JobAvailablity Job="WHM" Avalable="false" />
      <JobAvailablity Job="SCH" Avalable="false" />
      <JobAvailablity Job="AST" Avalable="false" />
    </TargetJobs>
    <ExplationTimeForDisplay>60</ExplationTimeForDisplay>
    <Location X="0" Y="0" />
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFD700</OutlineColor>
    </DisplayText>
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF8C00</Color>
          <Max>3</Max>
          <Min>1</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFFD700</Color>
          <Max>1</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>8</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>100</Width>
    </ProgressBar>
    <UseCircle>false</UseCircle>
    <IsCircleReverse>false</IsCircleReverse>
    <SwapBarAndText>false</SwapBarAndText>
  </MPTicker>
  <MobList>
    <Visible>false</Visible>
    <RefreshRateMin>300</RefreshRateMin>
    <VisibleZ>true</VisibleZ>
    <VisibleMe>true</VisibleMe>
    <DisplayCount>10</DisplayCount>
    <NearDistance>20</NearDistance>
    <TTSEnabled>true</TTSEnabled>
    <Location X="0" Y="0" />
    <MeDisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF000080</OutlineColor>
    </MeDisplayText>
    <MobFont FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
    <MobEXColor>
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FFFFD700</OutlineColor>
    </MobEXColor>
    <MobSColor>
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FFFF8C00</OutlineColor>
    </MobSColor>
    <MobAColor>
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF8FBC8F</OutlineColor>
    </MobAColor>
    <MobBColor>
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF00BFFF</OutlineColor>
    </MobBColor>
    <MobOtherColor>
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF000000</OutlineColor>
    </MobOtherColor>
  </MobList>
</ACT.UltraScouter.Settings>